{:paths ["src" "resources"]

 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.879"}}
                  :extra-paths ["dev/cljs"]}

           :shadow-cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.15.10"}}
                         :extra-paths ["dev/shadow"]}

           :figwheel {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.14"}}
                      :extra-paths ["dev/figwheel"]}

           :dev {:extra-deps {org.clojure/clojure {:mvn/version "1.11.0-alpha3"}
                              org.clojure/test.check {:mvn/version "1.1.0"}
                              org.clojure/tools.deps.alpha {:mvn/version "0.12.1048"}
                              org.clojure/tools.trace {:mvn/version "0.7.11"}
                              org.clojure/tools.analyzer.jvm {:mvn/version "1.2.0"}
                              com.cognitect/transcriptor {:mvn/version "0.1.5"}
                              com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}
                              criterium/criterium {:mvn/version "0.4.6"}
                              me.flowthing/shiv {:git/url "https://gist.github.com/eerohele/8611d1a98bd2d5e8ddda14d8394d720a"
                                                 :sha "9423badd88039186864fe18a9f2ef37c7bb596c3"}}
                 :exec-fn shiv/start-server
                 :exec-args {:name "server"
                             :port 0
                             :accept clojure.core.server/repl
                             :server-daemon false}

                 :extra-paths ["dev/src" "dev/test"]
                 :jvm-opts ["-Djdk.attach.allowAttachSelf"]}}}
