{:nrepl false
 :socket-repl false
 :deps {:aliases [:dev :shadow-cljs]}
 :dev-http {8000 "resources/public"}
 :builds {:browser {:target :browser
                    :modules {:main {:entries [my.browser.app]}}
                    :output-dir "resources/public"
                    :devtools {:ignore-warnings #{:single-segment-namespace}
                               :preloads [clojure.test.check.generators]}}

          :node-script {:target :node-script
                        :main my.node.app/-main
                        :output-to "out/script.js"
                        :compiler-options {:infer-externs true}}}}
